In [1]:
import pandas as pd 
thedata = pd.read_csv("samplefile3.csv")

In [7]:
sum(list(thedata.isnull().sum()))

8

In [9]:
column_means = thedata.mean()
column_means

col1    3.60
col2    3.25
col3    0.25
dtype: float64

In [10]:
thedata.fillna(column_means, inplace=True)

In [11]:
thedata

   col1  col2  col3
0   1.0  2.00  0.00
1   4.0  3.25  0.00
2   3.0  2.00  0.25
3   5.0  6.00  1.00
4   3.6  3.25  0.00
5   5.0  3.25  0.25
6   3.6  3.00  0.25

In [ ]:
import zipfile
import requests
import io
content = requests.get("https://archive.ics.uci.edu/ml/machine-learning-databases/00275/Bike-Sharing-Dataset.zip").content

with zipfile.ZipFile(io.BytesIO(content)) as arc:
    raw_data = pd.read_csv(arc.open("day.csv"), header=0, sep=',', parse_dates=['dteday'], index_col='dteday')

## observe data structure
raw_data.tail()

In [15]:
raw_data.isnull().sum()

instant       0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64